<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <h2>Receivers</h2>
    <a class="p-2 text-dark" href="/receiver_emma">Receiver Emma</a>
    <a class="p-2 text-dark" href="/receiver_lana">Receiver Lana</a>
    <a class="p-2 text-dark" href="/receiver_mya">Receiver Mya</a>
    <a class="p-2 text-dark" href="/receiver_peter">Receiver Peter</a>
    <a class="p-2 text-dark" href="/receiver_robert">Receiver Robert</a>
    <hr>
    <h2>Senders</h2>
    <a class="p-2 text-dark" href="/sender_alex">Sender Alex</a>
    <a class="p-2 text-dark" href="/sender_bob">Sender Bob</a>
    <a class="p-2 text-dark" href="/sender_caleb">Sender Caleb</a>
    <a class="p-2 text-dark" href="/sender_nova">Sender Nova</a>
    <a class="p-2 text-dark" href="/sender_vera">Sender Vera</a>
    <hr>
    <a class="p-2 text-dark" href="/write_mail_menu">Write Mail Menu</a>
    <hr>
    <a class="p-2 text-dark" href="/get_mail_menu">Get Mail Menu</a>
    <hr>
</body>
</html>