<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write Mail Menu</title>
</head>
<body>
    <form method="post" id="selectionForm">
        <label>Sender</label><br>
        <label><input type="radio" name="senders" value="Alex">Alex</label>
        <label><input type="radio" name="senders" value="Bob">Bob</label>
        <label><input type="radio" name="senders" value="Caleb">Caleb</label>
        <label><input type="radio" name="senders" value="Nova">Nova</label>
        <label><input type="radio" name="senders" value="Vera">Vera</label>
        <hr>
        <label>Receivers</label><br>
        <label><input type="radio" name="receivers" value="Emma">Emma</label>
        <label><input type="radio" name="receivers" value="Lana">Lana</label>
        <label><input type="radio" name="receivers" value="Mya">Mya</label>
        <label><input type="radio" name="receivers" value="Peter">Peter</label>
        <label><input type="radio" name="receivers" value="Robert">Robert</label>
        <hr>
        <label>Content</label><br>
        <label><input type="text" name="content"></label>
        <button type="submit">Submit</button>
    </form>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
</body>
</html>